$blue:    $md-blue-grey-500;
$indigo:  $md-indigo-500;
$purple:  $md-deep-purple-500;
$pink:    $md-pink-500;
$red:     $md-red-500;
$orange:  $md-orange-500;
$yellow:  $md-yellow-500;
$green:   $md-green-500;
$teal:    $md-teal-500;
$cyan:    $md-cyan-500;

$gray-dark: $md-grey-900;
$gray: $md-grey-800;
$gray-light: $md-grey-600;
$gray-lighter: $md-grey-200;
$gray-lightest: $md-grey-50;

$brand-1: #772e33;
$brand-1-dark: #47000c;
$brand-1-light: #a95a5c;
$brand-2: #654657;
$brand-2-dark: #3a1e2e;
$brand-2-light: #937284;

$primary: $brand-1;
$secondary: $md-pink-400;
$success: $md-teal-a400;
$info: $md-blue-grey-500;
$warning: $md-yellow-a400;
$danger: $md-red-a700;

/* Background & foreground colours */
$barred-content-bg: $md-light-green-50;
$barred-content-fg: $md-grey-800;
$barred-footer-bg: $md-teal-900;
$barred-footer-fg: $md-teal-800;
$barred-logo-bg: $md-teal-500;
$barred-logo-fg: $md-teal-50;
$barred-sidebar-bg: $md-teal-800;
$barred-sidebar-fg: $md-grey-300;
$barred-topbar-bg: $md-green-100;
$barred-topbar-fg: $md-blue-grey-700;

$component-active-bg: $primary;
$component-active-fg: #fff;
